
@mixin form-base($borderColor) {
  border-radius: 3px;
  border: 1px solid $borderColor;
  padding: 4px;
  height: $form-height;
}

input {
  @include form-base($color-gray-dark);
  box-shadow: $base-shadow-inset-light;
}

@mixin create-button($background, $border, $shadow, $font) {
  @include form-base($border);
  min-width: $form-height + 2;
  color: $font;
  background: $background linear-gradient(lighten($background, 10%), darken($background, 10%));

  &:active {
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
  }
  &:focus {
    outline: none;
  }
}

button, .btn {
  @include create-button($color-white, $color-gray-dark, $color-gray-med, $font-color);

  &.btn-primary {
    @include create-button($color-primary, $color-primary-dark, $color-primary-dark, $color-white);
  }
}

select {
  @include form-base($color-gray-dark);
  background: linear-gradient(lighten($color-white, 5%), darken($color-white, 5%));
  width: 100%;
}


.toggle {
  @include create-button($color-white, $color-gray-dark, $color-gray-med, $font-color);
  &.checked {
    @include create-button($color-primary, $color-primary-dark, $color-primary-dark, $color-white);
  }
}

input[type='color'] {
  background: white;
}
input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

video {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}