#editor {
  position: relative;
  width: 100%;
  height: 100%;
}

#show-selector {
  position: absolute;
  top: 0;
  width: $show-selector-width;
  bottom: $show-controls-height;
  border-right: 1px solid $color-gray-dark;
}

#show-editor {
  position: absolute;
  top: 0;
  left: $show-selector-width;
  right: 0;
  bottom: $show-controls-height;
  overflow: auto;
  background: $color-gray-light;
}

#controls {
  position: absolute;
  left: 0;
  top: 0;
  width: $control-width;
  border-right: 1px solid $color-gray-dark;
  background: white;
}

#tracks {
  position: absolute;
  top: 0;
  left: $control-width;
  right: 0;
  background: white;
}