@import "variables";
@import "base";

*, :before, :after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

body, div, p, input, select {
  color: $font-color;
}

@import "track";
@import "timeline";