@import "variables";
@import "base";

*, :before, :after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

body, div, p, input, select {
  color: $font-color;
}

body {
  width: 100vw;
  height: 100vh;
  user-select: none;
}

#js-main {
  width: 100%;
  height: 100%;
}

@import "editor";
@import "track";
@import "timeline";
@import "slider";
@import "controls";
@import "show-selector";