#timecode {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  width: $control-width;
  height: $timeline-height;
  text-align: right;
  padding: 18px;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  border-bottom: 1px solid $color-gray-dark;
}

#timeline {
  height: $timeline-height;
  position: relative;
}

#time-bar-bg {
  position: absolute;
  height: 20px;
  left: 0;
  right: 0;
  bottom: 10px;
  background: $color-secondary;
}
#time-bar {
  position: absolute;
  height: 20px;
  left: 20px;
  bottom: 10px;
  background: $color-tertiary;
}
#time-markers {
  position: absolute;
  bottom: 10px;
  left: 20px;
  white-space: nowrap;

  .marker {
    border-right: 1px solid $color-gray-dark;
    display: inline-block;
    font-size: 11px;
    padding-left: 2px;
    height: 20px;
    position: relative;

    &:first-child {
      border-left: 1px solid $color-gray-dark;
    }
    &:last-child {
      border-right: none;
      width: 20px !important;
    }

    &:before {
      content: '';
      position: absolute;
      left: 25%;
      width: 50%;
      height: 50%;
      bottom: 0;
      border-left: 1px solid;
      border-right: 1px solid;
    }
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      width: 1px;
      height: 50%;
      bottom: 0;
      border-left: 1px solid;
    }
  }
}