.track {
  height: 150px;
  border: 1px solid $color-gray-dark;
  border-left: none;
  &:not(:last-child) {
    border-bottom: none;
  }
}

.track-controls {
  width: $control-width;
  height: 100%;
  border-right: 1px solid $color-gray-dark;
}

.track-title {
  width: 150px;
}

.track-toggle-button {
  width: $form-height + 2;
  float: right;
}

.track-controls-section {
  padding: 5px 5px 0 5px;

  .half {
    display: inline-block;
    width: 50%;

    input {
      width: 70px;
    }
  }
}