
// Colors

// Using colors from https://coolors.co

$color-white: #f1f2ee;
$color-gray-light: #DCE0E0;
$color-gray-med: #848c8e;
$color-gray-dark: #435058;

$color-primary: #f02d3a;
$color-primary-dark: #dd0426;

$color-secondary: #f3de8a;

$color-tertiary: #eb9486;

$font-color: $color-gray-dark;

// Shadows

$base-shadow-light: 1px 1px 1px rgba(0,0,0,0.2);
$base-shadow-inset-light: inset 1px 1px 1px rgba(0,0,0,0.2);

// Form

$form-height: 25px;

// Layout

$show-selector-width: 200px;
$show-controls-height: 50px;
$control-width: 200px;
$timeline-height: 50px;
$track-height: 150px;